*{
    margin: 0.3rem;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #6baefc;
    letter-spacing: 3px;
}

h1, h2{
    text-align: center;
}

button{
    margin-top: 1rem;
    border: none;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
}

button:hover{
    cursor: pointer;
}

.person{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    outline: none;
}

.displayName{
    display: flex;
    justify-content: center;
}

.item{
    display: flex;
    flex-flow: row nowrap;
    grid-gap: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

main{
    height: 90vh;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taxDisplay, .tipDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    position: relative;
}

.footer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.footnote{
    font-size: 13px;
}

/* 570px */